@model TourOperator.Model.WebhookSubscription

@{
    ViewData["Title"] = "Create";
}

<h4>WebHook Subscription Form</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="PayloadUrl" class="control-label"></label>
                    <input asp-for="PayloadUrl" class="form-control" />
                    <span asp-validation-for="PayloadUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Secret" class="control-label"></label>
                    <input asp-for="Secret" class="form-control" />
                    <span asp-validation-for="Secret" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div  class="form-group col-md-6">
                    <a asp-action="Index"  class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
