@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 >TourOperator WebHook Api</h4>
    
    <h4>

        This has been designed to support external travel agencies to

        extend property providers systems with channel management functionality
    </h4>
    
    <br/>

    <h4>
        There is a <color="red">WebHook System</color>. The System sends notifications to Your Travel Agency API, which you can set with your handler. Notifications will be triggered by TourOperator WebHook Api at the moment of a new booking created, modified or cancelled in TourOperator or its partners hotels.

    </h4>
    
    <br/>
    
    <p>Register & follow instructions</p>
    

    <p>Github here <a href="https://github.com/kgonsovsky/WebHook">https://github.com/kgonsovsky/WebHook</a>.</p>
</div>
